@import '../../../app/_variables.module.scss';

.Toolbar{
  background: red;
}
.customCheckboxLabel{
  @include defaultCard
  height: 54px;
  display: flex;
  padding: 16px;
  align-items: center;
  color: change-color($mainColor,$saturation:90,$lightness: 70);

  .checkIcon{
    width: 24px;
    height: 24px;
    fill: white;
    stroke: change-color($mainColor,$saturation:90,$lightness: 70);
    stroke-width:20;
    margin-right: 16px;
  }
  p{
    margin: 0;
  }
  .exName{
    font-size: 1.1rem;
  }
  .exDesc{
    font-size: .8rem;
    color: change-color($mainColor,$saturation:50,$lightness: 80);
  }
  .exType{
    font-weight: 400;
    color: change-color($mainColor,$saturation:50,$lightness: 80);
    text-transform: uppercase;
    font-size: .6rem;
  }
 &:hover {
   color: $mainColor;
 }
}
.checkboxInput{
  display: none;
}

input[type="checkbox"]:checked + .customCheckboxLabel {
  .exName {
    color: change-color($mainColor, $saturation: 80, $lightness: 40);
    font-weight: bold;
    .exType{
      font-weight: 400;
      color: change-color($mainColor,$saturation:50,$lightness: 80);
    }
  }

  & .checkIcon{
    fill: change-color($mainColor,$saturation:80,$lightness: 40);
    stroke-width:0 ;
  }
  &:hover {
    color: $mainColor;
  }
}
