@import "src/app/variables.module";

.wrapper{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25vh;
  .headline{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    color: $mainColor;
    margin-bottom: 0;
  }
}