@use "sass:color";
// it might worth to rename this file to GLOBAL
$mainColor: hsl(224,98,56);
$mainFontColor:  change-color($mainColor,$saturation:40,$lightness: 30);
$secondaryFontColor:  change-color($mainColor,$saturation:60,$lightness: 50);
$secondaryColor: rgba(69,188,252,1);
$tetriaryColor: rgba(131,58,180,1);
$mainFont: "Roboto",sans-serif;

$mainGradient: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(29,92,253,1) 50%, rgba(69,188,252,1) 100%);
$defaultFontSize: 16px;

@mixin defaultShadow{
  box-shadow: 0 4px 20px 0 rgba(32,52,109,0.30);

}
@mixin defaultCard{
  @include defaultShadow;
  border-radius: 8px;
  background: white;
  margin-bottom: 8px;
  width: 100%;
}
@mixin purpleButton {
  margin: auto;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: white;
  fill: white;
  background: linear-gradient(225deg, #AC46F0 0%, #9840D3 52%, #863AB9 100%);
  @include defaultShadow;
  cursor: pointer;
  &:hover{
    background: change-color($tetriaryColor,$saturation:50,$lightness: 40);
  }
  &:active{
    background: change-color($tetriaryColor,$saturation:60,$lightness: 30);
  }
  &:disabled{
    box-shadow:none;
    background:  change-color($tetriaryColor,$saturation:30,$lightness: 70);
    cursor: no-drop;

  }
}

@mixin iconAction{
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  cursor: pointer;
  fill: change-color($mainColor,$saturation:90,$lightness: 70);
  &:hover{
    fill: $mainColor;
  }
  &:active{
    fill: change-color($mainColor,$saturation:70,$lightness: 40);
  }
}




//*{ box-sizing: border-box;
//  padding: 0;
//  margin: 0;
//}
