@import '../../../../app/_variables.module.scss';
.AddNewItemButton{
  align:center;
  width: 80%;
  max-width: 400px;
  margin: 32px auto;
  height: 40px;
  border:1px solid change-color($mainColor,$saturation:90,$lightness: 70);
  border-radius: 80px;
  font-weight: 700;
  color: change-color($mainColor,$saturation:90,$lightness: 70);
  background: none;
  text-transform: uppercase;
  outline: none;
  &:hover{
    background: change-color($mainColor,$saturation:90,$lightness: 70);
    color: white;

  }
  &:active{
    background: $mainColor;
    color: white;
  }
}
.nested{
  width: auto;
  padding: 0 16px;
  margin: 8px;

}