@import '../../../../app/_variables.module.scss';

.FloatingButton{
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 80%;
  max-width: 400px;
  margin: auto;
  border-radius: 16px 16px 0 0;
  @include purpleButton;

}
