@import '../../../../app/_variables.module.scss';

.FloatingButton{
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 80%;
  max-width: 400px;
  margin: auto;
  border-radius: 16px 16px 0 0;
  border: none;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(225deg, #AC46F0 0%, #9840D3 52%, #863AB9 100%);
  @include defaultShadow;

  &:active{
    background: $tetriaryColor;
  }
}
